body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */

#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.about_container ol {
    counter-reset: item;
    /* padding-left: 30px;
    list-style-position: outside; */
}

.about_container ol>li {
    display: block;
    list-style-position: inside;
    text-indent: -2.3em;
    padding-left: 2.3em;
}

.about_container ol>li:before {
    content: counters(item, ".") " - ";
    counter-increment: item;
}

.red-text {
    color: rgb(255, 0, 0);
}

.blue-text {
    color: rgb(0, 0, 255);
}

.green-text {
    color: rgb(0, 128, 0);
}

.ride-details a {
    color: black;
}

.ride-details a:hover {
    color: black;
    text-decoration: none;
}

.red-ride {
    background-color: rgba(255, 0, 0, 0.5);
}

.blue-ride {
    background-color: rgba(0, 0, 255, 0.6);
}

.green-ride {
    background-color: rgba(0, 128, 0, 0.6);
}

.purple-ride {
    background-color: rgba(128, 0, 128, 0.6);
}


/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}