@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<div class="about_container">
    <ol>
        <li>Name
            <ol>
                <li>
                    The Club shall be called Wirral Wheelers Cycling Club hereinafter referred to as the Club. It is recognised by the Cycling
                    UK CTC as an Affiliated Group. No. 90095292, for which the Club pays an annual fee to the Cycling
                    UK and receives benefits such as Organisers' Liability Insurance
                </li>
            </ol>
        </li>
        <li>Objectives
            <ol>
                <li>
                    The objectives of the Club are: - to promote enjoyable cycling at a sociable pace - to organise regular cycle rides for members
                    - to be affiliated to Cycling UK, and - to follow Cycling UK guidelines wherever practical in accordance
                    of affiliated clubs - to recognise the voluntary nature of the Club, and to offer volunteers the
                    support and assistance necessary
                </li>
                <li>
                    The Club is committed to the highest ethical standards. All members should conduct themselves with integrity, transparency,
                    accountability, and in a fair and equitable manner
                </li>
            </ol>
        </li>

        <li>Membership
            <ol>
                <li>The membership shall consist of the following categories
                    <ul class="browser-default">
                        <li>Adults (age 18 or over)</li>
                        <li>Children Over 14 when accompanied by their Parent / Guardian</li>
                    </ul>
                </li>
                <li>Members in each category shall pay membership fees as fixed at each Annual General Meeting currently
                    £5 per calendar year no discount is offered for joining part way through any year, Any existing members
                    who have not renewed their membership by 31 March shall cease to be members of the Club</li>
                <li>Any member seeking to join the Club shall submit a Membership Application and fee to the Membership Secretary
                    currently £5 per year, who admits the Member on behalf of the Club Committee. Membership is open
                    to all, and no application shall be refused other than on reasonable grounds. In accordance with
                    current legislation, there will be no discrimination on grounds of disability, race, sex, religion,
                    etc. The Club Committee may refuse membership, or remove it, only for good cause such as conduct
                    or character likely to bring the Club or sport into disrepute. Appeal against refusal or removal
                    may be made to a panel of Committee members
                </li>
                <li>All members joining the Club shall be deemed to accept the terms of this Constitution and any policies
                    and rules adopted from time to time adopted by the Club, and to accept the requirement to conduct
                    themselves in accordance with the Club's framework
                </li>
                <li>All members joining the Club shall be asked if they wish to be registered as Ride Leaders within the
                    terms of the Club's Affiliated Club status with CTC for rides or events registered and listed in
                    the Club's Events Calendar
                </li>
            </ol>
        </li>
        <li>Management
            <ol>
                <li>The affairs of the Club shall be conducted by a Committee consisting of the Officers of the Club, and
                    a number of ordinary Committee members. The Committee shall not exceed a maximum of 5 Officers and
                    ordinary Committee members. The Committee shall meet not less than four times per year</li>
                <li>The Officers of the Club, The Patron who shall be honorary, shall be:
                    <ul class="browser-default">
                        <li>Patron - George Lewis</li>
                        <li>Chairman - Alan Dodd</li>
                        <li>Secretary - Gordon Cheesman</li>
                        <li>Membership Secretary - Graham Lewis</li>
                        <li>Treasurer - Graham Lewis</li>
                        <li>Publicity - Vacant</li>
                    </ul>
                    <p>Officers shall retire annually, except the Patron, but shall be eligible for re-appointment. The
                        Chairman will normally be appointed for a period of 2 years
                    </p>
                </li>
                <li>The appointment of Officers will be recommended by the Committee prior to the AGM, and endorsed by the
                    Club members at the AGM. Ordinary Committee members are elected by the members attending the AGM,
                    having been proposed and nominated to the Secretary in advance of the meeting.
                </li>
                <li>All Officers and Committee members must be members of the Club, and must be willing to to use there own
                    funds to help the running of the club if required upto 10% of turnover upto a maximum of £500.00
                    This has been collected apon setting up the club and is held as a cash deposit.
                </li>
                <li>If the post of any Officer or Committee member becomes vacant after such an election, the Committee shall
                    have the power to fill the vacancy until the succeeding AGM.
                </li>
                <li>The Committee shall have full power to deal with all matters relating to the Club not reserved to the
                    General Meeting in terms of this Constitution, including power to make public and enforce such policies
                    and rules as the Committee feel necessary to govern the activities of the Club ( including discipline
                    subject to rule 3.5) .
                </li>
                <li>The Committee may also appoint members to other posts to facilitate the running of the Club under an
                    organising committee status. The Committee shall decide whether the holders of these posts shall
                    also be an Officer or ordinary member of the Committee. If the holder is to be a member of the Committee,
                    their appointment must be made in accordance with 4.3 above.
                </li>
            </ol>
        </li>
        <li>General Meetings
            <ol>
                <li>Annual General Meeting The Club shall hold an AGM in the month of December to: - approve the minutes
                    of the previous year's AGM - receive a report from the Chairman - receive a report from the Treasurer,
                    and approve the audited Annual Accounts ( Must have a set of account ready for inspection upto the
                    date of the AGM - appoint the auditor to certify the Club Accounts for the following year - endorse
                    the appointment of Officers and elect ordinary Committee members - endorse the membership subscriptions
                    for the current year, and discuss any increase - consider any changes to the Club Constitution (
                    if required) - consider any changes to Club policies and rules ( if required) - deal with any other
                    agenda items.
                </li>
                <li>Extraordinary General Meeting - An EGM shall be called by an application in writing to the Secretary
                    supported by at least 40% of the members of the Club. The Committee shall also have the power to
                    call an EGM by a decision of a simple majority of the Committee.
                </li>
                <li>Notices All Members will be given 21 days' notice by email or letter if no email present for any General
                    Meeting. Items for inclusion on the Agenda of any General Meeting shall reach the Secretary not less
                    than 14 days before the Meeting. A copy of the Agenda shall be circulated by the Secretary to all
                    Members at least 7 days before the Meeting. No business shall be conducted unless it is included
                    in the Agenda
                </li>
                <li>Voting With the exception of changes to the Constitution, decisions put to a vote shall be resolved by
                    simple majority of Members at General Meetings. The Chairman of the Club shall hold a casting vote
                    at General and Committee Meetings.
                </li>
                <li>Quora The quorum at General Meetings shall be 40% of the members, and the quorum for Committee Meetings
                    shall be 50% of the Committee members.
                </li>
                <li>Review of the Constitution The Committee is required to review the Constitution prior to every AGM to
                    confirm the Constitution, especially the Club's status as an Unincorporated Association, is still
                    appropriate to the Club for the forthcoming 12 months.
                </li>
                <li>Changes to the Constitution - Any change to the Constitution shall require a two thirds majority of those
                    present, eligible to vote, and voting at a General Meeting. - Any proposal to change the Constitution
                    must be submitted in writing to the Secretary, who shall circulate the proposal to all members and
                    allow 7 days for submission of any amendments before calling a meeting in accordance with 5.3 above.
                    Proposals for Constitutional changes shall be signed by two members eligible to vote at the AGM.
                </li>
                <li>The Constitution allows the Committee to create policies and rules to facilitate the running of the Club
                    should the Committee feel these to be necessary. Any new policies and rules, or changes to existing
                    policies and rules, must be approved at a General Meeting.</li>
            </ol>
        </li>
        <li>Finance and Accounts
            <ol>
                <li>The Financial Year shall run from 1 January to 31 December each year
                </li>
                <li>The Treasurer shall be responsible for the preparation of the Club's Annual Accounts
                </li>
                <li>The Accounts shall be certified by an appropriate independent person who must not be a Club Committee
                    Member elected annually at the AGM, and records ready for inspection by any member at the AGM
                </li>
                <li>All cheques drawn against the Club's funds shall be signed by the Treasurer and one other nominated persons
                    from the cheque signatory, Currently all money is held by means of Cash and Online Banking
                </li>
                <li>Any expenditure on Club business requires prior authorisation by the Committee. Or Subject to at least
                    three other Committee members if purchase exceeds £75.00
                </li>
                <li>As an Unincorporated Association, all Committee members of the Club shall be jointly and severally responsible
                    for any financial liabilities of the Club
                </li>
                <li>The Club is a non-profit making organisation. Profits and surpluses will be used to maintain or improve
                    the Club, or to carry out the objectives of the Club, or to donate to charities that the Committee
                    deems appropriate. Surplus Amount to be approved at the first committee meeting
                </li>
            </ol>
        </li>
        <li>Dissolution
            <ol>
                <li>
                    If, upon the winding-up or dissolution of the Club there remains, after the satisfaction of all its debts and liabilities,
                    any property or money whatsoever, the same shall be held in trust to the original committee members
                    who put their own money forwards to set the club up who will the decide which group or other organisation,
                    having objectives similar to the objectives of the Club. No profit or surplus will be distributed
                    other than to a non-profit making body on a winding-up or dissolution of the Club. Drafted for Approved
                    of the Committee Disclaimer: All rides are at your own risk. Please ensure that you have your own
                    third party insurance check your house insurance or consider Cycling UK or
                    <a href="https://lcc.netdonor.net/ea-action/action?ea.client.id=1745&ea.campaign.id=33143" target="_blank">
                        other third party cycle insurance</a>
                </li>
            </ol>
        </li>
    </ol>
</div>
