@page

@{
    ViewData["Title"] = "Charity2017";
}

<div class="row mt-4">
    <div class="col blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Wirral Wheelers ride for a good cause</h2>
            <p class="blog-post-meta">Some time in 2017 by Graham</p>
            <hr />
            <blockquote>
                <p>The Wirral Wheelers are a Cycling UK Affiliate Group, who took on an early season Challenge Ride through East Cheshire and donated some of the funds to support inclusive cycling at Birkenhead Park.</p>
                <p>The group, which consisted of 220 keen cyclists set off on a 70-mile course, through East Cheshire and along the ‘Killer Mile’ to the summit of Mow Cop.</p>
            </blockquote>
            <a href="https://www.cyclinguk.org/article/wirral-wheelers-ride-good-cause" target="_window">Continue reading the full story on Cycling UK</a>
        </div>
    </div>
</div>