@page

@{
    ViewData["Title"] = "Charity2016";
}

<div class="row mt-4">
    <div class="col blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Wirral Evolutions &amp; Eastham Community Cycle Hub</h2>
            <p class="blog-post-meta">Some time in 2016 by Graham</p>
            <p>Wirral Wheelers Cycling Club recently ran an Early Season Challenge and with some of the proceeds have agreed to provide a Mission Semi Recumbent Tricycle along with the accessories like Velcro pedal fasteners and back support for them</p>
            <hr>
            <img src="~/gallary/charity2016.png" alt="Picture of Wirral Wheelers with a banner" class="w-100" />
            <hr>
            <p>Eastham CC Hub works with mostly Adults with a disability and hence the needs for more adapted and specialist cycles based at Wirral Evolutions Day Opportunities at Eastham Centre, Eastham Rake -most Fridays next door to the NHS clinic in partnership Sustrans and Wirral Council welcomes cyclists to our community Cycle Hubs. Friendly advice and local information about safer cycling.</p>
            <p>For Adults living independently, we signpost people to BikeRight and Mersey Travel for training course in cycling to work, cycling in heavy traffic, basic cycle safety.</p>
            <p>The Eastham Community offers an introduction to the cycling experience, they assess needs and have a safe area for riding and venues in other parts of the Wirral area.</p>
            <p>ECCH has currently a range of</p>
            <ul>
                <li>3 basic Raleigh cycles</li>
                <li>A Van Raam Velo Plus cycle adapted to carry a wheelchair forward facing and is road legal - (purchased by the Parents/ Carers Association in 2014)</li>
                <li>An ATB style tandem, which is fun for some folk</li>
            </ul>
            <p>Three trikes of different styles and size *two Orange Frog cycles for smaller folk (via Sustrans North)</p>
            <p>Having spoken with Helpers at the centre they have assessed the Eastham Service Users the purchase of the Mission Semi Recumbent trike will make a welcome addition to the bikes already available to users. </p>
            <p>In the Future the ECCH wish to secure more funding for appropriate storage for the cycles.</p>
            <p>Increase the range of adapted cycles, make more links with the Wirral Cycling community.</p>
            <p>Offer support to teaching young people in a safe environment with Sustrans.</p>
            <p>Join in cycle events and promote folk to come along and sign up as a Sustrans Volunteer at a local CC Hub nearest to you in Wirral.</p>
            <p>Hopefully the purchase of this Semi Recumbent trike will go someone to achieving their goals.</p>
            <p>For more information on the WCCH the contact is best to have as Janet Gregory (Sustrans Hubs Officer) Other Wirral CC Hubs - are located at Wallasey Central Park & Guinea Gap Leisure Centre and Birkenhead Park and River Park (Port Sunlight) - showing the wide spread of the Sustrans North sponsored Hubs in Wirral.</p>
            <p>For Eastham CC Hub in particular is Paul Green (message via 0151 327 4348 Eastham Day Centre) </p>
            <hr>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="http://www.wirralevolutions.org/" target="_window">
                    <img src="~/images/Wirral Evolutions.png" />
                </a>
            </div>
            <div class="col"></div>
            <div class="col-3">
                <a href="https://www.facebook.com/wirralcommunitycyclehubs/?fref=ts" target="_window">
                    <img src="~/images/Community Cycle Hub.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>
