@page

@{
    ViewData["Title"] = "Charity2018";
}

<div class="row mt-4">
    <div class="col blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Alder Hay Childrens Charity</h2>
            <p class="blog-post-meta">31 December 2017 by Graham</p>
            <hr />
            <h2>The Event</h2>
            <p>Why not look forward what will hopefully be a sunny 29th of April by riding the Church Hill Challenge, this year the event is being run again by Wirral Wheelers a CTC affiliated club and a percentage of profits* will be given to the Alder HEY ICU Unit which has provided excellent care for our youngest helper Eve Berry (you can read more about Eve Berry below).</p>
            <p>The Church Hill Challenge is a route, Starting and finishing in Waverton, and heading south into the Wales / Cheshire borders before turning up the Ceiriog Valley and climbing out up Church Hill, comprising mainly of lanes and minor roads with a total distance of approximately 75Miles. The event is Not a race and riders are invited to complete the course within 7 hours. The course is all on public roads which are not closed for the event and riders must therefore ride with due care and respect for other road users. Full refreshments will be provided at all controls. Full route details and advisory notes will be emailed out approximately 2 weeks prior to the event. All riders will be sent out gpx download instructions</p>
            <p>Entry is now open for 2018, early booking is recommended don't leave it too late, as our 2017 filled up very quickly</p>
            <p>The entry fee is £15.50 for on Rider or two Riders for £30.00</p>
            <p>You Entry fee Includes:</p>
            <ul>
                <li>Lunch midway through (Beans On Toast, Cakes, Teas, Coffee Etc)(Gluten Free alternative also avaiable)</li>
                <li>Plenty of car parking at HQ</li>
                <li>Electronic Tag</li>
                <li>Route sheet in paper form &amp; for GPS devices</li>
                <li>Support vehicle for emergencies</li>
                <li>Event is registered with CTC</li>
                <li>Please note that the start/finish is Waverton Village Hall - CH3 7QT</li>
                <li>Free Event Photography</li>
                <li>Special Award for all finishers</li>
            </ul>
            <p>Entries are non-refundable or transferable and must be received before 30th March.</p>
            <p>Early entry is a must to guarantee your place.</p>
            <p>Places limited to 250 riders Max.</p>
            <p>Below is a time lapse of the climb of Church Hill it is in parts 1 in 4</p>
            <a href="https://www.youtube.com/watch?v=z5nN9gCV6NQ" target="_window">Church Hill climb</a>
            <hr>
            <h2>Eve Berry's Story</h2>
            <p>Eves Story began on the 17th October 2017 when she was admitted to Alder Hey Children's Hospital to have Valve Replacement, to replace the Aortic Valve and the Mitral Valve, these have been replaced with mechanical valves. The operation went well, however the lungs could not handle the new lease of life with the blood flow and therefore the surgeons couldn't get her off bypass. She came out of theatre on Bypass and was on this for 18 days in an induced coma, shortly after this they put her on a Kidney filter as the kidneys packed in.</p>
            <p>They managed to ween her off bypass after 18 days and they struggled to close the chest 5 days later. Eve has had other issues with her Right arm which they thought they would have to operate on, again this was a very difficult time for us and after several discussions they decided to leave it and see how it went. They were also going to fit a Tracheotomy shortly after on the Weds of week 5 but Eve gave them a shock by coming off the ventilator by herself on the Saturday. So week 5 we were finally off the ventilator and off bypass, however things went rapidly down hill shortly after on the Monday night Eve had a Cardiac Arrest, this was put down to a mass of 300ml of clotted blood surrounding the heart, she had further surgery on the Friday to remove this mass and whilst they were there they fitted a PD catheter to enable them to help the kidneys.</p>
            <p>So week 8 and after a further scare with reduced blood pressure and requiring adrenaline and 3 units of blood we have now settled down and have finally moved out onto a ward that specialises in Renal support.</p>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <img src="~/gallary/charity2018/eve1.jpg" class="w-100" />
                </div>
                <div class="col-1"></div>
                <div class="col">
                    <img src="~/gallary/charity2018/eve2.jpg" class="w-100" />
                </div>
                <div class="col-1"></div>
            </div>
            <p>Eve has been fighting for her life on several occasions and has battled many mountains along the way.</p>
            <p>So on the 29th April 2018 Eve has set a challenge for you, in Aid of Alder Hey Children's charity and their ICU unit that saved her life, she has set you all a challenge to complete the Churchill Loop in association with Wirral Wheelers.</p>
            <hr>
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-primary" href="charity2017EntryForm" role="button">Church Hill Challenge Entry Form</a>
                </div>
            </div>
        </div>
    </div>
</div>