@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h4 class="mt-4">The best way to get in touch with the Wirral Wheelers is through one of our social media pages</h4>

<address>
    <a title="Facebook" target="_window" href="https://www.facebook.com/groups/720974911368611/" class="fa fa-facebook-official fa-2x"></a>
    <br />
    <a title="Google+" target="_window" href="https://www.google.com/" class="fa fa-google-plus-official fa-2x"></a>
    <br />
    <a title="Instagram" target="_window" href="https://www.instagram.com/" class="fa fa-instagram fa-2x"></a>
    <br />
    <a title="Twitter" target="_window" href="https://www.twitter.com/" class="fa fa-twitter fa-2x"></a>
    <br />
    <a title="Strava" target="_window" href="https://www.strava.com/"><img src="~/images/strava-32x32.png" /></a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:wirralwheelers@gmail.com">wirralwheelers@gmail.com</a>
</address>
