@page
@model RidesModel
@{
    ViewData["Title"] = "Rides page";
}

<div class="row pt-4">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rides</h5>
                <h6 class="card-subtitle mb-2 text-muted">The Wirral Wheelers Cycling Club</h6>
                All rides Leave at approximately 10:30<br />
                <br />
                Rider Level<br />
                <ul>
                    <li>
                        <span class="red-text">A</span> - Hard</li>
                    <li>
                        <span class="blue-text">B</span> - Medium</li>
                    <li>
                        <span class="green-text">C</span> - Easy (Ideal for beginners)</li>
                </ul>
                <p>
                    <a href="http://www.eurekacyclistsCafe.co.uk/" target="_window">
                        Chester Eureka - Two Mills</a>
                </p>
                <p>
                    <a href="https://twitter.com/netscoffeeshop?lang=en" target="_window">
                        Nets - Burton Point
                    </a>
                </p>
                <p>Chester -The Café On the Wall, Lower Bridge Street</p>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rider Safety</h5>
                <ul>
                    <li>Cycling with us in a group is safe providing simple safety rules are followed</li>
                    <li>Please take time to familiarise yourself with a few notes</li>
                    <li>Group awareness and communication are key elements to cycling safely in a group</li>
                    <li>Non-members are welcome on our rides</li>
                </ul>
                <h6 class="card-subtitle mb-2 text-muted">What you need on a ride</h6>
                <ul>
                    <li>A cycle in good working order</li>
                    <li>Puncture repair kit, spare inner tube a few basic tools are always handy</li>
                    <li>Front and rear lights on winter and evening rides</li>
                    <li>Clothing &amp; Footware that will be suitable for the weather conditions</li>
                    <li>High visibility clothing and cycle helmets are advisable but not compulsory</li>
                    <li>Adequate food drink &amp; Money for the day's ride</li>
                    <li>Each rider should carry emergency contact details so that the leader can contact next of kin
                        in the event of an accident
                    </li>
                </ul>
                <h6 class="card-subtitle mb-2 text-muted">How our group rides</h6>
                <ul>
                    <li>If you are new to the group introduce yourself to the leader</li>
                    <li>The ride leader will give the new member an explanation of the proposed route at the start of
                        the ride
                    </li>
                    <li>Anyone leaving the ride should notify the leader
                    </li>
                    <li>Comply with the Highway Code, showing consideration for all road users
                    </li>
                    <li>The group may ride two abreast when it is safe to do so, but should single out on narrow or busy
                        roads
                    </li>
                    <li>Never overtake or overlap to the left of the cyclist in front
                    </li>
                    <li>When stopping for a repair the group should not obstruct junctions
                    </li>
                    <li>Ride smoothly and do not slow or stop suddenly without warning, When following another rider,
                        keep your hands on the handle bars and ready to use the brake levers and be ready to slow
                        down or stop without notice
                    </li>
                    <li>Shout or signal warnings of danger, e.g. Hole, Glass, Gravel, Car Behind, Stopping etc. Do not
                        rely on the rider in front to warn you of a hazard. He/she may not have seen it
                    </li>
                    <li>On shared cycle paths/footpaths make yourself heard when passing pedestrians. A bell is advisable
                        but not compulsory
                    </li>
                    <li>Always check behind before starting off or changing direction. When turning, signal early and
                        clearly
                    </li>
                    <li>The ride leader should regularly check that all riders are keeping up with the group. If not
                        he/she should reduce the speed of the ride and/or regroup at appropriate points
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        @foreach(var ride in Model.Rides) {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@ride.Date.ToString("dd MMMMM yyyy") - @ride.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@ride.Description</h6>
                </div>
            </div>
        }
    </div>
</div>
